body{
	font-family: 'Cutive Mono', helvetica, arial;
}

header.page-header{
	border-bottom:1px solid #666;
}
.content{
	color:#333;
}

footer{
	border-top:1px dashed #333;
}

xmp{
	border:1px solid #CCCCCC;
	border-left-width:10px;
	padding: 5px;
	font-weight:100;
	display:inline-block;
}